@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "sf-pro";
    src: local(""), url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "poppins";
    src: local(""), url("/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Prompt";
    src: local(""), url("/fonts/Prompt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Prompt";
    src: url("/fonts/Prompt-Bold.ttf") format("truetype");
    font-weight: Bold;
    font-style: normal;
    unicode-range: U+0E00 – U+0e7F;
  }
  @font-face {
    font-family: "Kanit";
    src: url("/fonts/Kanit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  /* For Japanese Charecters */
  @font-face {
    font-family: "MPlus";
    src: url("/fonts/MPLUSRounded1c-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+4E00 – U+9FBF, U+3040 – U+309F, U+30A0 – U+30FF;
  }
}

/**
   * * __next is a wrapper element inside of body
   * * so set it to full strech.
   */
#__next {
  @apply h-full min-h-screen flex flex-col;
}

@layer components {
  .text-gradient1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  }
  .astro {
    position: absolute;
    top: 80px;
    right: 80px;
    width: 400px;
    height: 400px;
    animation: anim 10s infinite;
  }

  @keyframes anim {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
